/* Mobile – 767px 이하 해상도에서 해석하는 코드 */
/*
  @media (max-width:767px){
    div {
      background-color: red;
    }
  }
 */
body {
  width: auto;
}

img {
  width: 100%;
  height: auto;
}

li a {
  text-decoration: none;
}

.header {
  width: 100%;
  text-align: right;
}

.line-menu {
  display: none;
}

.line-menu li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.summary-menu {
  display: inline-block;
  float: right;
  position: relative;
  width: 21px;
}
.line {
  background: #000000;
  border-radius: 2px;
  display: inline-block;
  height: 3px;
  margin: 1px 0px;
}

/* Tablet – 768px~1024px 해상도에서 해석하는 코드 */
@media (min-width:768px) and (max-width:1024px){
  .line-menu {
    display: block;
  }
  .summary-menu {
    display: none;
  }
}

/* Desktop – 1025px 이상 해상도에서 해석하는 코드 */
@media (min-width:1025px){
  .line-menu {
    display: block;
  }
  .summary-menu {
    display: none;
  }
}