body {
  font-family: AppleSDGothic, 'Apple SD Gothic Neo', 'HelveticaNeue-Light', '나눔바른고딕', '나눔고딕', 'Nanum Gothic', 'NanumGothic', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, '굴림', gulim, applegothic, sans-serif;
  font-size: 15px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: auto;
}
a {
  color: #f64746;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  padding: 0;
}

header {
  position: absolute !important;
  margin: 0 !important;
  width: 100%;
}
header .navbar-nav {
  float: right;
}

header a.navbar-brand {
  display: block;
  width: 200px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url('../img/logo_madsquare.png');
}
header a {
  color: #FFF8EB;
  font-size: 14px;
}
header .navbar-nav > .active > a,
header .navbar-nav > .active > a:hover,
header .navbar-nav > li > a:hover {
  background: #3B3C3D;
  color: #fff;
}
header .navbar-header .navbar-toggle:hover {
  background: #636363;
}
header .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

footer {
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #202020;
  color: #919191;
}
footer div {
  padding-left: 15px;
  padding-right: 15px;
}
footer .copyright, .sns {
  text-align: right;
}
footer .bottom {
  padding-top: 50px;
}
footer li {
  display: inline-block;
  margin-right: 5px;
  list-style: none;
}
footer a {
  /*color: #999;*/
}

/* IE8 & IE9 mode utilities */
.visible-ie8 {
  display: none;
}
.ie8 .visible-ie8 {
  display: inherit !important;
}
.visible-ie9 {
  display: none;
}
.ie9 .visible-ie9 {
  display: inherit !important;
}
.hidden-ie8 {
  display: inherit;
}
.ie8 .hidden-ie8 {
  display: none !important;
}
.hidden-ie9 {
  display: inherit;
}
.ie9 .hidden-ie9 {
  display: none !important;
}
.input-icon {
  position: relative;
}
.input-icon > .form-control {
  padding-left: 33px;
}
.input-icon > i {
  color: #ccc;
  display: block;
  position: absolute;
  margin: 11px 2px 4px 10px;
  z-index: 3;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.input-icon.right > .form-control {
  padding-right: 33px;
  padding-left: 12px;
}
.input-icon.right > i {
  right: 8px;
  float: right;
}
/*hr {
  border-top: 1px solid #393A3B !important;
}*/
/*@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}*/

.img, .contact{
  padding: 0;
}

.contact-desc {
  width: 50%;
}

.contact-desc div {
  margin: 0;
}

.contact-desc .title {
  padding: 50px 0px;
}

.contact-desc .content {
 padding-bottom: 20px;
}

.contact-desc .mail {
  border: 1px solid #FAB019; 
}


.contact-map {
  height: 300px;
  width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  header a.navbar-brand {
    background-image: url("../img/logo_madsquare.png");
    background-size: 81px 16px;
  }
}

@media (min-width: 1025px) {
  .contact-map {
    height: 600px;
  }
  .contact-desc {
    width: 20%;
  }
  .contact-desc .mail {
    height: 50px;
    border-radius: 40px;
    margin-bottom: 50px;
    line-height: 50px;
    color: #FAB019;
    font-size: 17px;
  }
  .contact-desc .mail span{
    padding-left: 5px;
  }
  .contact-desc .mail img {
    width: 10%;
  }
}